.AdoptaUnPerrito {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.flex {
  display: flex;
  gap: 10px;
  padding: 5px;
  justify-content: center;
}
.cartita {
  font-size: 18px;
  display: flex;
  text-align: center;
}
.footo {
  height: 230px;
  padding: 1rem;
}
.boton {
  width: 100%;
  height: 1.5rem;
}
.Footer {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}
